
@media screen {
    .str {
        color: #080
    }

    .kwd {
        color: #008
    }

    .com {
        color: #800
    }

    .typ {
        color: #7f0055
    }

    .lit {
        color: #066
    }

    .pun,.opn,.clo {
        color: #660
    }

    .tag {
        color: #008
    }

    .atn {
        color: #7f0055
    }

    .atv {
        color: #080
    }

    .dec,.var {
        color: #7f0055
    }

    .fun {
        color: #f00
    }
}

@media print,projection {
    .str {
        color: #060
    }

    .kwd {
        color: #006;
        font-weight: bold
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404;
        font-weight: bold
    }

    .lit {
        color: #044
    }

    .pun,.opn,.clo {
        color: #440
    }

    .tag {
        color: #006;
        font-weight: bold
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}

pre.prettyprint {
    border: 1px solid #d6d6d6;
    background-color: #eee;
    width: 98%;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 13px;
    overflow: auto
}

tr td pre.prettyprint {
    white-space: pre-wrap;
    width: auto
}

pre.result {
    border: 1px solid #d6d6d6;
    background-color: #f1f1f1;
    width: 98%;
    padding: 5px;
    margin: 0;
    margin-bottom: 0;
    font-size: 12px;
    overflow: auto
}

pre.box {
    border: 1px solid #d6d6d6;
    background-color: #f1f1f1;
    width: 98%;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    overflow: auto
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
    list-style-type: none
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
    background: #eee
}
