<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examplejayho.cccstudymaterials">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CccstudyMaterials">
        <activity
            android:name=".splash"
            android:theme="@style/Theme.CccstudyMaterials.NoActionBar"
            android:hardwareAccelerated="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7635336144239737~8828386323" />

        <activity
            android:name=".office.powerpoint"
            android:exported="false" />
        <activity
            android:name=".office.excel"
            android:exported="false" />
        <activity
            android:name=".office.word"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity1"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity2"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity3"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity4"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity5"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity6"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity7"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity8"
            android:exported="false" />
        <activity
            android:name=".quiz.SubCategoryActivity9"
            android:exported="false" />
        <activity
            android:name=".descbook"
            android:exported="false" />
        <activity
            android:name=".quiz.WorldQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.BioQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.ChemistryQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.EconomyQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.GeoQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.HistoryQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.IndiaQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.PhysicsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.PoliticsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.SportsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".computer"
            android:exported="false" />
        <activity
            android:name=".onedesc"
            android:exported="false" />
        <activity
            android:name=".eleven"
            android:exported="false" />
        <activity
            android:name=".ten"
            android:exported="false" />
        <activity
            android:name=".nine"
            android:exported="false" />
        <activity
            android:name=".eight"
            android:exported="false" />
        <activity
            android:name=".seven"
            android:exported="false" />
        <activity
            android:name=".six"
            android:exported="false" />
        <activity
            android:name=".five"
            android:exported="false" />
        <activity
            android:name=".four"
            android:exported="false" />
        <activity
            android:name=".three"
            android:exported="false" />
        <activity
            android:name=".two"
            android:exported="false" />
        <activity
            android:name=".one"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>